<p>Repository Search</p>
<input ng-model="searchCriteria" placeholder="Search GitHub"/>
<button (click)="search()">Go!</button>
<div style="padding: 13px;">
    <mat-spinner *ngIf="repositoryItems.length === 0"></mat-spinner>

    <mat-card *ngFor="let repository of repositoryItems" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{repository.name}}</mat-card-title>
            <mat-card-subtitle>{{ repository.language }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{repository.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
      <a [routerLink] = "['/topcontributors', repository.full_name]" mat-button>Top Contributors</a>
    </mat-card-actions>
    </mat-card>
</div>