<a (click)="backClicked()" mat-button>Go to Repository Search</a>
<h1>Top Contributors for "{{ repoCriteria }}"</h1>
<div style="padding: 13px;">
    <p *ngIf="topContributorItems.length === 0 && !isLoading">No records to show</p>
    <mat-spinner *ngIf="isLoading">
    </mat-spinner>
    <mat-card *ngFor="let contributor of topContributorItems.slice(0, pageRecords)" style="margin-top:10px;">
        <mat-card-header>
            <img src="{{ contributor.avatar_url }}" mat-card-avatar />
            <mat-card-title>
                <a target="_blank" href="{{contributor.html_url}}">{{contributor.login}}</a>
            </mat-card-title>
            <mat-card-subtitle>{{ contributor.contributions }} Contributions
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <button *ngIf="topContributorItems.length > pageRecords" (click)="loadMore()" mat-button>
        Load More
    </button>
</div>